*{
    margin: 1px;
    padding: 1px;
    box-sizing: border-box;
}
body{
    font-family: "EB Garamond", serif;
}
h1{
    border: 2px dotted red;
    margin: 10px, 200px, 10px, 40px;
    
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
}

#highlight{
    text-decoration: underline;
    border: 1px solid blueviolet;
    background-color: aqua;
    padding: 1px;
    height: 8px;
    display: inline-block;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(33, 6, 6);
    color: white;
    text-align: center;
  }
  .para-style{
    text-align: justify;
    line-height: 50px;
  }
  #google{
    text-decoration: dashed;
  }
  .hello{
    width: 300px;
  }
  a:hover{
    color: rgb(19, 81, 81);
    transition: all 1s ease-out;
    border: 2px;
    border-radius: 10px;
    background-color: aquamarine;
  }